rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // --- FUNCIONES DE AYUDA ---

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(ownerId) {
      return isSignedIn() && request.auth.uid == ownerId;
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }


    function validatePetData(data) {
      let expectedKeys = ['name', 'description', 'imagesUrl', 'status', 'ownerId'];
      
      return data.keys().hasOnly(expectedKeys) &&
             data.name is string && data.name.size() >= 3 &&
             data.description is string &&
             data.imagesUrl is list && data.imagesUrl.size() >= 1 &&
             data.ownerId is string && data.ownerId.size() > 0;
    }



    match /users/{userId} {
      allow create: if isOwner(userId);

      allow read, update: if isOwner(userId) || isAdmin();
    }

    match /pets/{petId} {
      allow read: if true;

      allow create: if isSignedIn() &&
                       validatePetData(request.resource.data) &&
                       (isAdmin() || request.resource.data.ownerId == request.auth.uid);

      allow update: if (isOwner(resource.data.ownerId) || isAdmin()) &&
                       validatePetData(request.resource.data) &&
                       (isAdmin() || request.resource.data.ownerId == resource.data.ownerId);

      allow delete: if isOwner(resource.data.ownerId) || isAdmin();
    }
  }
}